<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="2.1.0" targetFramework="net40" />
  <package id="WindowsPhoneNotificator" version="1.0.4" targetFramework="net40" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="net40" />
</packages>